<div class="control-content">
	{{#if isWithImage}}
		<img class="list-image" src="images/ui_controls/android/listimage.png" />
		{{title}}
	{{else}}
		{{#if isDetailed}}
			<img class="list-image" src="images/ui_controls/android/listimage.png" />
			{{title}}
			<img class="list-icon" src="images/ui_controls/android/listicon.png" />
		{{else}}
			{{title}}
		{{/if}}
	{{/if}}
</div>
{{#link-to "controlListViewCell" this tagName="div" class="inner-control"}}{{/link-to}}