<div class="control-content">
	{{#if isWithImage}}
		<div class="list-image"></div>
		<p class="list-text">{{title}}</p>
	{{else}}
		{{#if isDetailed}}
			<div class="list-image"></div>
			<p class="list-text">{{title}}</p>
			<div class="list-icon"></div>
		{{else}}
			<p class="list-text">{{title}}</p>
		{{/if}}
	{{/if}}
</div>
{{#link-to "controlListViewCell" this tagName="div" class="inner-control"}}{{/link-to}}
