<div class="col-md-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
            {{partial "partials/first_commands"}}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-pencil"></i></a></li>
                <li><a href="#position" data-toggle="tab"><i class="fa fa-arrows"></i></a></li>
                <li><a href="#dimension" data-toggle="tab"><i class="fa fa-expand"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active form-horizontal" id="home">
                    <br>
                    {{input-text label="Name" value=name action='acceptChanges'}}
                    {{input-text label="Title" value=title action='acceptChanges'}}
                    {{input-color-picker label="Text Color" value=textColor action='acceptChanges'}}
                    {{input-number min="8" max="36" label="Text Size [dp]" value=textSize action='acceptChanges'}}
                    <div class="form-group">
                      <label class="col-sm-5" style="padding:8px 10px;text-align:right">Text Decoration</label>
                      <div class="col-sm-7">
                        <div class="btn-group btn-group-justified">
                            <label {{bind-attr class=":btn :btn-default :btn-sm textNormal:active"}}>
                                {{input type="checkbox" checked=textNormal class="hidden"}} <i class="fa fa-font"></i>
                            </label>
                            <label {{bind-attr class=":btn :btn-default :btn-sm textBold:active"}}>
                                {{input type="checkbox" checked=textBold class="hidden"}} <i class="fa fa-bold"></i>
                            </label>
                            <label {{bind-attr class=":btn :btn-default :btn-sm textItalic:active"}}>
                                {{input type="checkbox" checked=textItalic class="hidden"}} <i class="fa fa-italic"></i>
                            </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5" style="padding:8px 10px;text-align:right">Text Align</label>
                      <div class="col-sm-7">
                          <div class="btn-group btn-group-justified">
                              <label {{bind-attr class=":btn :btn-default :btn-sm textAlignLeft:active"}}>
                                  {{input type="checkbox" checked=textAlignLeft class="hidden"}} <i class="fa fa-align-left"></i>
                              </label>
                              <label {{bind-attr class=":btn :btn-default :btn-sm textAlignCenter:active"}}>
                                  {{input type="checkbox" checked=textAlignCenter class="hidden"}} <i class="fa fa-align-center"></i>
                              </label>
                              <label {{bind-attr class=":btn :btn-default :btn-sm textAlignRight:active"}}>
                                  {{input type="checkbox" checked=textAlignRight class="hidden"}} <i class="fa fa-align-right"></i>
                              </label>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade form-horizontal" id="position">
                    <br>
                    {{partial "partials/ui_control_position"}}
                </div>
                <div class="tab-pane fade form-horizontal" id="dimension">
                    <br>
                    {{input-number label="Width [dp]" min="88" value=width action='acceptChanges' }}
                    {{input-number label="Height [dp]" min="36" value=height action='acceptChanges' }}
                    {{partial "partials/ui_control_dimension"}}
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="button" class="btn btn-default" {{action "deleteUiPhoneControl"}}>
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
